.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 690px;
    width: 512px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.login-form > div > label > input {
    margin: 2px 5px;
}

.login-form-submit {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.login-form-button {
    width: 250px;
    height: 46;
    margin: 5px;

    border: 1px solid #7c6be3;
    background-color: #7c6be3;
    color: white;
}
