.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: dimgray;

  position: sticky;
  top: 0;
  left: 0;

  height: 100%;
  width: 240px;

}

.nav-bar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-bar-user-greet {
  margin: 16px 5px;
}

.nav-bar-user-signout {
  width: 24px;
  height: 24px;
  margin: 5px;
  border-radius: 25%;
}

.new-note-btn {
  height: 36px;
  width: 216px;
}

.nav-bar-links {
  list-style: none;
}

.nav-bar-links > ul {
  margin: 16px;
  padding: 0px;
}

.nav-bar-links > li {
  margin: 5px;
}

.nav-bar-links > li > a {
  text-decoration: none;
  color: #be6be3;
}
