.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar-container {
  display: flex;
  flex-direction: column;

  background-color: gray;

  position: sticky;
  top: 0;
  left: 0;

  height: 100%;

}

.nav-bar-user {
  display: flex;
}
