.splash-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 5px;
}

.splash-header-login {
    height: 40px;
    width: 120px;

    background-color: white;

    border: 1px solid #be6be3;

    color: #be6be3;

}

.splash-page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 976px;
    height: auto;
}

#splash-page-subtitle {
    word-break: break-all;
}

.splash-page-actions {
    display: flex;
    flex-direction: column;
}
