.create-new-tag-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 575px;
    width: 512px;
}

.create-new-tag-container > p {
    text-align: center;
}

.create-tag-form {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-tag-name-input {
    margin: 0 5px;
}

.create-tag-create-btn, .create-tag-cancel-btn {
    background-color: #be6be3;
    border: 1px solid #be6be3;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.create-tag-create-btn:hover, .create-tag-cancel-btn:hover {
    background-color: #f877fd;
    border: 1px solid #f877fd;
}

.create-tag-create-btn:disabled {
    background-color: gray;
    border: 1px solid gray;
    cursor: not-allowed;
}
