.notes-view-all {
    display: flex;
    flex-direction: column;

    width: 400px;
    margin: 5px;
}

.notes-view-all-notes {
    display: flex;
    flex-direction: column;

    height: 86%;

    overflow-y: auto;
    scrollbar-width: thin;
}

.notes-view-all-note {

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    min-height: 120px;
    width: 350px;

    overflow-x: hidden;
    text-overflow: ellipsis;

    margin: 5px 0px;
    padding: 5px 15px;

    border: 1px solid purple;
}

.note-title {
    text-overflow: ellipsis;
    font-weight: bold;
    word-break: break-word;
    overflow: hidden;
    margin: 2px;
}

.note-trash-btn {
    border-radius: 20px;
    padding: 5px;
    width: 30%;
    align-self: center;

    color: white;
    background-color: #be6be3;
    border: 1px solid #be6be3;
}

.note-trash-btn:hover {
    background-color: #f877fd;
    border: 1px solid #f877fd;
}

.create-note-no-note {
    display: flex;
    width: 50%;
    font-weight: bold;
    font-size: large;
    justify-content: center;
    align-items: center;
}
