.notes-view-all {
    display: flex;
    flex-direction: column;

    width: 400px;
    margin: 5px;
}

.notes-view-all-notes {
    display: flex;
    flex-direction: column;

    height: 86%;

    overflow-y: auto;
}

.notes-view-all-note {

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    min-height: 120px;
    width: 350px;

    overflow-x: hidden;
    text-overflow: ellipsis;

    margin: 5px 0px;
    padding: 5px 15px;
}

.note-title {
    text-overflow: ellipsis;
    font-weight: bold;
}
