.notes-view-all {
    display: flex;
    flex-direction: column;

    width: 375px;
    margin: 5px;
}

.notes-view-all-notes {
    display: flex;
    flex-direction: column;

    height: 86%;

    overflow-y: auto;
}

.notes-view-all-note {
    overflow-x: hidden;
    text-overflow: ellipsis;

    margin: 5px 0px;
    padding: 2px;
}
